/* 전체 선택자는 임시로 씀! */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  text-decoration: none;
}

body {
  margin: 50px 50px;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 60px;
  height: 30px;
  margin: 0 10px 20px 0;
}

ol li {
  margin-bottom: 10px;
  font-weight: bold;
}

h2 {
  margin-bottom: 10px;
}

hr {
  border: 1px solid #222;
  margin: 20px 0;
}
